<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">
	<title>Byte Me</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}
		.container {
			text-align: center;
			margin-top: 20px;
		}
		#live-feed {
			margin-bottom: 20px
		}
		.log {
			margin-top: 30px;
			text-align: left;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Byte Me</h1>

		<!-- <h2>Live Camera Feed</h2>
		<img id="live-feed" src="{{ url_for('video_feed') }}" width="640" height="480" alt="Live Feed"> -->

		<h2>Capture and Classify</h2>
		<form action="{{ url_for('capture_image') }}" method="post">
			<button type="submit">Capture and Classify</button>
		</form>
		{% if result %}
			<h2>Result</h2>
			<p>{{ result }}</p>

		{% endif %}

		<div class="log">
			<h3>Past Screenings</h3>
			<ul>
				{% for entry in log %}
					<li>{{ entry }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</body>
</html>
