<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Melanoma Detection Model</title>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta name = "author" content = "Shiloh Chiu">
        <meta name = "description" content = "Melanoma classification model designed with Tensorflow and RPi4.">
        <link rel="shortcut icon" href="static/images/favicon.png">
        <link rel="stylesheet"
            href="static/css/custom.css">
    </head>

    <body>
        <!-- <section class="container"> -->
            <h1>Melanoma Classification Model</h1>
    
                <h2>Capture</h2>

                    <button id = "capture"> Take a Picture! </button>

                    <img id="preview" src= "../{{image_path}}" alt="Your image here.">
    
                <h2>Classification</h2>

                    <button id = "classify">Classify</button>
                    <p id = "result"> Result will be displayed here. </p>		
        <!-- </section> -->
    
        <script src="https://code.jquery.com/jquery-3.5.1.min.js">
            let image_path = "{{ image_path }}";
            console.log(image_path);
        </script>
        <script src="../static/result.js"></script>
    </body>
    </html>
    