<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">
	<title>Byte Me</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}
		.container {
			text-align: center;
			margin-top: 20px;
		}
		#live-feed {
			margin-bottom: 20px
		}
		.log {
			margin-top: 30px;
			text-align: left;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Melanoma Detection Model</h1>

			<h2>{{message}}</h2> 

			<h2>Capture and Classify</h2>
			<button id = "capture"> Take a Picture! </button>

			<h2>Predicted result: </h2>



		<div class="log">
			<h3>Past Screenings</h3>
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="../static/result.js"></script>
</body>
</html>
